/* Main "About Me" Container */
div.aboutMeContainer {
    width: 100%;
    height: 100vh;

    position: absolute;


    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2em;

}